a{
    text-decoration: none;
}

#content{
    width: 100%;
    display: block;
}

#content > .content__main{
    width: 1280px;
    max-width: 1280px;
    margin: 50px auto;
    border: 1px solid f0f0f0;
}

#content > .content__main > h2{
    text-align: center;
    margin: 50px 0;
}

#content > .content__main > .content__main--form > .cart{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    border: 1px solid #f0f0f0;
}

#content > .content__main > .content__main--form > .cart > tbody > tr > .qty > input{
    width: 52px;
    text-align: center;
    height: 30px;
}

#content > .content__main > .content__main--form > .cart > tbody > tr{
    height: 140px;
}

#content > .content__main > .content__main--form > .cart > tbody > tr > .image > .product_image > a> img{
    width: 100px;
    height: 100px;
}

#content > .content__main > .content__main--form > .cart > tbody > .btn > td > button,
#content > .content__main > .content__main--form > .cart > tbody > .btn > td > a > button{
   background-color: #e93434;
   width: 100px;
   height: 40px;
   color: #fff;
   margin: 0 20px;
}
#content > .content__main > .content__main--form > .cart > tbody > .btn > td > button:hover,
#content > .content__main > .content__main--form > .cart > tbody > .btn > td > a > button:hover{
    background-color: rgb(252, 133, 133);
}

button{
    outline: none;
    border: none;
    background-color: #fff;
}
input, textarea{
    outline: none;
}
textarea{
    padding: 10px;
    font: 20px;
}
button:hover{
    cursor: pointer;
}