*{
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    /* background-color: red; */
    font-family: Helvetica, Arial, sans-serif;
    line-height: normal;
}
html {
    scroll-behavior: smooth;
}
.active_center{
    width: 1280px;
    margin: auto;
    height: 100%;
    /* background-color: #ffff; */
    
}
#header{
    width: 100%;
    height: 210px;
    background-color: #ffff;    
}
.header__navbar{
    height: 160px;
}
.header__navbar-logo{
    width: 150px;
    height: 100%;
    float: left;
}
.header__navbar-img{
    width: 100%;
    margin-left: 84px;
}
.header__navbar-search{
    height: 40px;
    width: 600px;
    margin: 40px 0 auto 200px;
    float: left;
    display: flex;
}
.header__menu-list-items-first-link
{
    text-decoration: none;
    color: black;
}
.header__menu-list-items-first-link:hover{
    color:white;
}
.header__navbar-input-search{
    width: 100%;
    height: 40px;
    outline: none;
    padding: 0 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}
.header__navbar-search-btn{
    background-color: #e93434;
    height: 40px;
    width: 120px;
    border: none;
    outline: none;
    cursor: pointer;
    border-right: none;
    padding-bottom: -1px;
}
.header__navbar-search-btn:hover{
    background-color: rgb(252, 133, 133);
}
.header__search-btn-text{
    color: #ffff;
    font-size: 14px;
}
.header__navbar-cart{
    width: 80px;
    height:100%;
    display: inline-block;
}
.header__cart-icon{
    height:28px;
    width: 80px;
    margin: 48px 0 auto 20px;
    cursor: pointer;
    float: left;
}
.header__navbar-login{
    /* display: flex; */
    width: 120px;
    margin: 44px 40px 0 0;
    display: inline-block;
    float: right;
}
.header__account-icon{
    width: 32px;   
    float: left;
}
.header__account-login{
    /* margin-left: 10px; */
}
.login{
    text-decoration: none;
    color: #464646;
    margin-left: 4px;
    font-weight: 600;
}
.login:hover{
    color: #e93434;
}
.header__menu{
    background-color: #efefef;
    width: 100%;
    height: 48px;
    border:1px solid #efefef;
}
.header__menu-list{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    margin-left: calc(156px + 28px);
}
.header__menu-list > li:first-child:hover{
    background-color: #e93434;
    color: #ffff;
    /* cursor: pointer; */
}
.header__menu-list-items{
    margin-right: 20px;
    width: 200px;
    text-align: center;
    line-height: 44px;
    font-weight: 550;
    text-decoration: none;
}
.header__menu-list-items-link{
    text-decoration: none;
    color: black;
}
.header__menu-list-items-link:hover{
    color: #e93434 !important;
}
.header__menu-list-items:first-child{
    background-color: #ffff;
    margin-right: 40px;
    margin-left: -88px;
    width: 280px;
    position: relative;
    margin-bottom: -2px;
}
.header__menu-list-items:first-child:hover .header__menu-subnav-list{
    display: block;
    width: 100%;
}
.header__menu-subnav-list{
    list-style: none;
    position: absolute;
    display: none;
    margin-top: 4px;
    background-color: #ffff;
}
.header__menu-subnav-item{
    background-color: rgb(247, 247, 247);
    text-align: left;
    padding-left: 18px;
    position: relative;
}
.header__menu-subnav-item:hover .header__subnav-first-list{
    display:flex;
}
.header__menu-subnav-item::after{
    content: "";
    /* background-color: red; */
    content: "";
    display: inline-block;
    position: absolute;
    width: 20px;
    right: -10px;
    top: 0px;
    height: 40px;
}
.header__menu-subnav-item:hover{
    color: #e93434;
    cursor: pointer;
}
.header__menu-subnav-item{
    color: black;
}
.header__subnav-first-list{
    position: absolute;
    list-style: none;
    left: 280px;
    top: 0;
    display: flex;
    display: none;
    width: 1000px;
    box-shadow: 0 3px 3px #ccc;
    animation: items ease-in 0.3s;
    transform-origin: top left;
    background-color: #ffff;
}
.header__subnav-first-list-items{
    margin-left: 20px;
    padding: 20px;
    width: 200px;
    text-align: center;
    color: black;
}




.laptop-list{
    list-style: none;
    font-size: 14px;
}
.laptop-list-item-link{
    text-decoration: none;
    color: rgb(138, 133, 133);
}
.laptop-list-item-link:hover{
    color: #e93434;
    cursor: pointer;
}
.header__subnav-second-list{
    position: absolute;
    list-style: none;
    left: 280px;
    top: 0;
    display: none;
    width: 1000px;
    box-shadow: 0 2px 2px #ccc;
    width: 200px;
    animation: items ease-in 0.3s;
    transform-origin: top left;
    background-color: #ffff;
}
.header__subnav-second-list-items{
    margin-left: 20px;
    padding: 8px;
    width: 200px;
    text-align: left;
    height: 54px;
    top: 0;
    color: black;
    font-size: 14px;
    position: relative;
}
.header__subnav-second-list-items-link{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.header__subnav-second-list-items-link:hover{
    color: #e93434;
    cursor: pointer;
}
.line{
    width: 160px;
    opacity: 0.5;
    margin-left: -10px;
}
.header__menu-subnav-item:hover .header__subnav-second-list{
    display: block;
}
@keyframes items{
    from{
        opacity: 0;
        transform:scale(0) ;
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
.header__subnav-second-list-items:hover .pc__price-list{
    display: block;
}
.pc__price-list{
    list-style: none;
    top: 0;
    margin-left: 170px;
    display: none;
    box-shadow: 0 3px 3px #ccc;
    width: 200px;
    animation: items ease-in 0.3s;
    transform-origin: top left;
    position: absolute;
    background-color: #ffff;
}

.pc__price-list-items{
    margin-left: 20px;
    padding: 12px;
    width: 150px;
    text-align: left;
    height: 54px;
    color: black;
    font-size: 14px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.pc__price-list-items:hover{
    color: #e93434;
}
.list__line{
    width: 140px;
    margin-left: 20px;
    opacity: 0.5;
}
.icon-list{
    width: 20px;
    height: 20px;
    margin-right: 20px;
    text-align: center;
    font-size: 12px;
    margin-bottom: -3px;
}
.header__menu-list-items:first-child::after{
    content: "";
    border-style:  solid;
    border-width: 7px 7px;
    border-color: #ccc transparent transparent transparent ;
    position: absolute;
    right: 40px;
    top: 17px;
 
}
.header__menu-list-items:first-child::after:hover{
    border-color: #e93434 transparent transparent transparent ;
}





#footer{
    width: 100%;
    height: 350px;
    margin-top: 50px;
    background-color: #efefef;
}

.footer__container{
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
    border-radius: 15px;
}

.footer__container ul{
    list-style-type:none;
    line-height: 32px;
}
.footer__container ul li a{
    text-decoration: none;
    color: #666;
}
.footer__container--items > ul >li{
    display: flex;
    margin: 20px 0;
    color: #666;
    opacity: 0.9;
}
.footer__container--items > ul >li > img{
    width: 25px;
    align-items: center;
}

.footer__contact--icon{
    list-style-type: none;
    border-left: 1px solid black ;
    padding-left: 10px;
    
}

.footer__contact--icon li a img{
    width: 32px;
    height: 32px;
}
.footer__contact--icon li a img:hover:first-child{
    border-radius: 12px;
    background-color: rgb(173, 236, 255);
}

.footer__contact--icon:last-child{
    width: 120px;
}
#container{
    margin-top: 100px;
    background-color:#e93434;
    color: #ffff;
    padding:40px;
}
.container__title{
    font-size:30px;
    width:1280px;
    margin: auto;
}
.container__header{
    font-size:18px;
    width:1280px;
    margin: auto;
    text-align: center;
    margin-top:80px;
}
.conatiner__text{
    font-size:18px;
    width:1280px;
    margin: auto;
    line-height: 40px;
    margin-top:60px;
}
.container__logo{
    width: 200px;
    height: 200px;
    margin-left: 600px;
    margin-top: 40px;
}